---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
//import MapWrapper from "@components/map/mapwrapper"
//import SimpleMapWrapper from "@components/map/simplemap.jsx"
import Leaflet from '@components/map/mleaflet.jsx';
import CurrentTime from '@components/time.jsx'

const markers = [
    { lat: 51.505, lng: -0.09 },
    { lat: 51.51, lng: -0.1 },
    { lat: 51.515, lng: -0.095 },
  ];
---

<main   class="place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
	</div>
  <div>     
			<!--<div><MapWrapper client:only="react"/></div>  -->		
			<CurrentTime client:only="react" />
			  <Leaflet client:only="react" markers={markers} />    
  </div>
</main>
